@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora&family=Poppins:wght@300&family=Raleway&family=Space+Grotesk:wght@300&display=swap");
:root {
	--font-heading: "Poppins", sans-serif;
	--font-paragrahp: "Raleway", sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

li {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"header header"
		"main main";
}

h1 {
	font-family: var(--font-heading);
	text-align: center;
	text-decoration: underline;
	/* background-color: lightgray; */
	padding: 25px;
}

h2,
h3 {
	font-family: var(--font-heading);
}

h2 {
	grid-area: header;
	text-align: center;
	background-color: #303841;
	color: #eeeaeb;
	padding: 15px;
}

ul {
	padding: 0;
}

div {
	align-self: center;
	justify-self: left;
}

img {
	justify-self: center;
	width: 80%;
	height: auto;
}

p {
	font-family: var(--font-paragrahp);
}
